.container2 {
  margin: 0 14rem;
  margin-bottom: 150px;
}
.button1 {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
}
.toggleStyle {
  opacity: 0.3;
}
.toggleStyle:hover {
  opacity: 1;
  transition: 0.5s;
}
.toggleStyle::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffae00;
  transition: width 0.3s;
}
.toggleStyle:hover::after {
  width: 100%;
}
/* .active {
  color: blue;
} */
.active1::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #ffae00;
  transition: width 0.3s;
  width: 100%;
}
.first-text {
  padding-top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
#firstimg {
  height: 700px;
  width: 1000px;
  margin-left: -200px;
}
.texting {
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
}
.mySwiper {
  display: none;
}

@media screen and (max-width: 1680px) {
  .container2 {
    margin: 0 8rem;
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 1480px) {
  .container2 {
    margin: 0 5rem;
    margin-bottom: 150px;
  }
  .texting {
    font-size: 20px;
  }
  #firstimg {
    height: 500px;
    width: 800px;
    margin-left: -100px;
  }
}
@media screen and (max-width: 1380px) {
  .container2 {
    margin: 0 3rem;
    margin-bottom: 150px;
  }
  .texting {
    font-size: 18px;
  }
}
